<h1>SASS At-Rules</h1>

<h2>&#64;mixin | &#64;include</h2>

<p>Agrupa declarações CSS para reutilização.</p>

<section id="ex1">
  <h3>1 - Variantes</h3>
  <div class="demo-area">
    <button class="btn-primary">Primary</button>
    <button class="btn-secondary">Secondary</button>
  </div>
</section>

<section id="ex2">
  <h3>2 - &#64;content</h3>
  <div class="demo-area">
    <div class="card">
      Este card muda de largura quando a tela é maior que 768px.
    </div>
  </div>
</section>

<section id="ex3">
  <h3>3 - Múltiplos argumentos</h3>
  <div class="demo-area">
    <div class="card-1">Card 1</div>
    <div class="card-2">Card 2</div>
    <div class="card-3">Card 3</div>
  </div>
</section>

<section id="ex4">
  <h3>4 - Propriedade</h3>
  <div class="demo-area">
    <div class="moving">Moving box</div>
  </div>
</section>

<section id="ex5">
  <h3>5 - Padronização</h3>
  <div class="demo-area">
    <p class="text-demo text-sm">Texto pequeno (sm)</p>
    <p class="text-demo text-md">Texto médio (md)</p>
    <p class="text-demo text-lg">Texto grande (lg)</p>
  </div>
</section>

<h2>&#64;function | &#64;return | &#64;error | &#64;warn</h2>

<p>Abstração de fórmulas e comportamentos.</p>

<section id="ex6">
  <div class="demo-area">
    <div class="card-6">
      Card 6
    </div>

    <div class="card-7">
      Card 7
    </div>

    <button class="btn-primary">Primary</button>

    <p class="text-sm">Pequeno</p>
    <p class="text-md">Médio</p>
  </div>
</section>

<h2>&#64;extend | placeholders (%)</h2>
<p>Para reunir regras CSS idênticas.</p>
<section id="ex7">
  <div class="demo-area">
    <button class="btn-primary">Primary</button>
    <button class="btn-secondary">Secondary</button>

    <div class="alert alert-error">
      Alert.
    </div>
    <div class="alert alert-warning">
      Alert.
    </div>

    <ul>
      <li>item 1</li>
      <li>item 2 <button class="btn">link</button></li>
    </ul>
  </div>
</section>

<h2>&#64;use | &#64;import</h2>
<section id="ex8">
  <div class="demo-area">
    <button class="btn-default">Default</button>
  </div>
</section>